---
// src/pages/index.astro

import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
---

<!-- profile2.webp you can remove | Photo <a href="https://unsplash.com/es/@charlesdeluvio?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">charlesdeluvio</a> en <a href="https://unsplash.com/es/fotos/hombre-con-gorro-negro-kVg2DQTAK7c?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
   --><!-- You can replace the card's data with your own here. -->
<BaseLayout
	title="Technical Sabir | Software Engineer"
	description="Versatile and experienced full-stack software engineer with 4+ years of expertise in designing, developing, and delivering dynamic, scalable, and responsive software applications."
>
	<Card
		name="Technical Sabir"
		position="Software Engineer"
		aboutMe={`Versatile and experienced full-stack software engineer with 4+ years of expertise in designing,
			developing, and delivering dynamic, scalable, and responsive software applications. Proficient in modern
			frameworks like ReactJS, NextJS, Laravel, and NodeJS. Proven track record of improving
			operational efficiency and user engagement through innovative digital solutions. Skilled in solving
			complex technical challenges and managing end-to-end development processes.`}
		linkedin="https://www.linkedin.com/in/developer-sabir-4a7a8a1b5/"
		github="https://github.com/TechnicalSabir"
		email="mailto:developer.sabir@gmail.com"
		profileImage="/profile-picture-500x500.png"
	/>
</BaseLayout>

<!--
	"Hi there!, I'm Brian. I hope this small template helps you gain visibility while you build great projects. Thank you for using it. I wish you success in everything you set out to do; you will surely achieve great things.

	Here is my GitHub {https://github.com/alcarazbrian}. You can help me by following me, giving a Star to the template, and sharing it so others can see and use it.

	Have a great day!"
 -->
